<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">

    <listeners>
        <listener class-name="framework.testcomponents.Listeners"/>
    </listeners>

    <test thread-count="1" name="Error Validation Test">
        <classes>
            <class name="framework.tests.ErrorValidationsTest"/>
        </classes>
    </test>

    <test thread-count="1" name="Final Runner Test">
        <classes>
            <class name="framework.tests.FinalRunnerTest"/>
        </classes>
    </test>

    <test name="Cucumber Tests">
        <classes>
            <class name="framework.cucumber.TestNGTestRunner"/>
        </classes>
    </test>
</suite>


